
/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (min-width: 320px) and (max-width:576px) {
  
  .header__search {
    width: 100%!important;
    height: 35px!important;
  }
  .header__icon{
    font-size: 1rem;
  }
.bx{
  font-size: 26px;
}
  .header__search input{
    font-size: 12px;
  }
  .header .cart-wish{
    display: flex;
    
   
  }
  .header .cart-wish i{
    width: 30px;
    margin-left: 10px;
    height: 30px;
    border-radius: 100%;
   border: 1px solid rgb(170, 170, 170);
    color: rgb(43, 43, 43);
    text-align: center;
   line-height: 30px;
  }

  #main-content .filter{
    display: none;

  }
  
  #main-content .top-content  {
    padding: 15px 20px;
  }
  #main-content .top-content .left {
    display: flex;
    line-height: 60px;
  }
  #main-content .top-content .left img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 5px
  }
  #main-content .top-content .left h5{
    font-family: ;
    margin-left: 5px;
  }
  #main-content .active{
    display: block;
  }
  #main-content .all{
  display: flex;
  height: 60px;
  
  }








}

@media screen and (min-width: 320px) and (max-width:375px) {}

#top-products .pcard{




}

#top-products .pcard .details h2 {
 
  font-size: 14px;
}

#top-products .pcard .details .price {

  font-size: 16px;
  color: red;
}


#main-content {
  
}










/* ------------------------------- FOR MEDIUM DEVICE---------------------------------------- */


@media screen and (min-width: 577px) and (max-width:767px) {


#home-banner{
  width: 100%;
  margin: 0px;
}










}













@media screen and (min-width: 768px) {
  
  
  
  
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }

  #home-banner{
    margin-top: 10px;
  }




}


@media screen and (min-width: 768px) and (max-width:992px) {
  
#main-content .filter{
  display: none;
  width: 100%;
}

#main-content .top-content  {
  padding: 15px 20px;
}
#main-content .top-content .left {
  display: flex;
  line-height: 60px;
}
#main-content .top-content .left img{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 5px
}
#main-content .top-content .left h5{
  font-family: ;
  margin-left: 5px;
}
#main-content .active{
  display: block;
}
#main-content .all{
display: flex;

}


}