@charset "UTF-8";
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  margin-top: 10px;
  overflow: hidden;
  
}

.tab {
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  /* Icon */
}

.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #000000;
  background: white;
  transition: all 0.35s;
  border: 1px solid rgb(202, 202, 202);
  border-top: none;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ffffff;
  cursor: pointer;
}

input:checked + .tab-label {
  background: #ffffff;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  
}



.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
margin: 0px;
}

/* Accordion styles */
.tabs {
 
  overflow: hidden;
 
}

.tab {
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
  padding: 0px 5px;
}
.tab-label {
  border: 1px solid rgb(202, 202, 202);
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #ffffff;
  font-weight: bold;
  cursor: pointer;
 


  /* Icon */
}

.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #000000;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #ffffff;
  cursor: pointer;
}
.tab-close:hover {
  background: #ffffff;
}

input:checked + .tab-label {
  background: #ffffff;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  
}