.bottom-nav {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  * {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
      margin: 0 auto;
      color: #fff;
      background: #151D26;
      font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  input[name="menu"]{display:none}
  
  .menu {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .list{
      width: 100%;
      height: 56px;
      overflow: hidden;
      background: #1c2733;
      position: relative;
  }
  .list .link-wrap{
      width: 100%;
      height: 100%;
      display: table;
  }
  
  .list .link-wrap>label{
      color: #8e9399;
      z-index: 999;
      min-width: 68px;
      max-width: 168px;
      width: 25%;
      font-size: 12px;
      cursor: pointer;
      padding: 4px 12px;
      text-align: center;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .list .link-wrap>label>i,
  .list .link-wrap>label>span{
      -webkit-transition: all .2s ease-in-out 0s;
      transition: all .2s ease-in-out 0s;
  }
  .list .link-wrap>label>span{
      height: 0;
      display: block;
      font-weight: 500;
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
  }
  #one:checked ~ .list label[for="one"]>span,
  #two:checked ~ .list label[for="two"]>span,
  #three:checked ~ .list label[for="three"]>span{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height :auto;
  }
  #one:checked ~ .list .link-wrap>label[for="one"],
  #two:checked ~ .list .link-wrap>label[for="two"],
  #three:checked ~ .list .link-wrap>label[for="three"]{
    color: #5d80a6;
  }





































